.events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checked {
    text-decoration: line-through 2px #72008b;
}
.unchecked {
    text-decoration: none;
}

.event {
    display: flex;
    margin: 10px;
    padding: 5px;
    align-items: center;
    gap: 20px;
}

.event > input {
    background-color: #d9d9d9;
    width: 20px;
    height: 20px;
}

.event > input:checked {
    -webkit-appearance: none;
    background-color: #a1b3c2;
    border: 1px solid #adb8c0;
    color: #99a1a7;
}
