#root {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 auto;
}

div {
    box-sizing: border-box;
}

.users {
    width: 48%;
    border: 1px solid grey;
    padding: 10px;
}

.posts {
    width: 48%;
    border: 1px solid grey;
    padding: 10px;
}

.comments {
    flex: 1;
    border: 1px solid grey;
    padding: 10px;
}
