
p {
    margin: 5px;
}

div {
    box-sizing: border-box;
}

.users {
   flex: 0.5;
    border: 1px solid grey;
    padding: 5px;
}

.user {
    background: aliceblue;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.user:hover {
    background: antiquewhite;
}

.posts {
    flex: 0.5;
    border: 1px solid grey;
    padding: 5px;
}

.post {
    background: aliceblue;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.post:hover {
    background: antiquewhite;
}
.comments {
    width: 100%;
    border: 1px solid grey;
    padding: 5px;
}
